@font-face {
    font-family: 'Helvetica';
    font-weight: 400;
    src: url('../fonts/helvetica_regular.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica';
    font-weight: 700;
    src: url('../fonts/helvetica_bold.woff') format('woff');
}

@font-face {
    font-family: 'PassionOne';
    font-weight: 400;
    src: url('../fonts/PassionOne-Regular.woff') format('woff');
}

:root {
    --black: #000000;
    --orange: #f86600;
    --dark-orange: rgba(248, 103, 0, 0.15);
    --white: #FFFFFF;
    --grey: #E3E5E5;
    --dark-grey: #232526;

    --basic-font: 'Helvetica', 'Arial', sans-serif;
    --logo-font: 'PassionOne', 'Arial', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: var(--basic-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--white);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0px 16px;
    background: var(--black) url('../images/planeta.png') no-repeat left -330px top 124px;
}

.logo {
    font-family: var(--logo-font);
    color: var(--orange);
    margin-bottom: 14px;
}

.description {
    width: 80%;
    margin-bottom: 9px;
}

.main {
    margin: auto 0% auto 16%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 9px;
}

.units {
    display: flex;
    gap: 3px;
    margin-bottom: 6px;
}

.unit {
    background: var(--black);
    color: var(--white);
    border: none;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 0px;
    letter-spacing: 0.5px;
}

.unit-current {
    text-decoration: none;
    font-weight: 700;
}

.cards {
    list-style-type: none;
    padding: 0%;
}

.card {
    margin-bottom: 23px;
}

.date {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 9px;
}

.data {
    display: flex;
    gap: 7px;
    margin-bottom: 8px;
}

.image {
    width: 26px;
    height: 26px;
    margin-top: 7px;
}

.name {
    text-decoration: underline;
    font-weight: 700;
}

.size {
    position: relative;
    font-size: 12px;
    line-height: 16px;
    padding-left: 12px;
}

.size::before {
    position: absolute;
    content: 'ø';
    width: 2px;
    top: 0px;
    left: 0px;
}

.distance {
    position: relative;
    height: max-content;
    padding-bottom: 7px;
    border-bottom: 1px solid var(--grey);
}

.distance::before {
    position: absolute;
    content: '◂';
    width: 2px;
    top: 19px;
    left: -4px;
    color: var(--grey);
}

.distance::after {
    position: absolute;
    content: '▸';
    width: 2px;
    top: 19px;
    left: 120px;
    color: var(--grey);
}

.order {
    background-color: var(--dark-orange);
    color: var(--orange);
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 2px 12px;
    letter-spacing: 1.5px;
}

.options {
    display: flex;
    gap: 25px;
}

.note {
    position: relative;
    color: var(--grey);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.note::before {
    position: absolute;
    content: '⚠️';
    width: 2px;
    top: 0px;
    left: -21px;
}

.trash-wrapper {
    position: fixed;
    display: flex;
    /* display: none; */
    justify-content: space-around;
    padding: 14px 0px;
    background-color: var(--dark-grey);
    width: 100%;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}

.trash-title {
    font-weight: 700;
}

.send {
    background-color: var(--orange);
    border: none;
    border-radius: 40px;
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.footer {
    position: fixed;
    bottom: 0px;
}

@media (min-width: 420px) {
    .main {
        margin: auto 5% auto 20%;
    }
}

@media (min-width: 1025px) {
    body {
        background: var(--black) url(../images/planeta.png) no-repeat left -74px top 138px;
    }

    .description {
        margin-bottom: 0px;
    }

    .main {
        width: 30%;
        margin: auto;
    }

    .trash-wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 38px;
        padding: 14px 22px;
        width: max-content;
        bottom: 256px;
        left: 404px;
        border-radius: 24px;
    }

    .send {
        padding: 9px 12px;
    }

    .footer {
        display: none;
    }
}

@media (min-width: 1356px) {
    body {
        background: var(--black) url(../images/planeta_big.png) no-repeat left -135px top 138px;
    }

    .main {
        width: 23%;
        margin: auto;
    }
}

@media (min-width: 2100px) {
    body {
        background: var(--black) url(../images/planeta_big.png) no-repeat left 91px top 138px;
    }

    .trash-wrapper {
        bottom: 256px;
        left: 646px;
    }
}