.trashWrapper {
    position: fixed;
    display: flex;
    justify-content: space-around;
    padding: 14px 0px;
    background-color: var(--dark-grey);
    width: 100%;
    bottom: 0px;
    left: 0px;
    z-index: 1;
}

.trashTitle {
    font-weight: 700;
}

.send {
    background-color: var(--orange);
    border: none;
    border-radius: 40px;
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

@media (min-width: 1025px) {
    .trashWrapper {
        display: flex;
        flex-direction: column;
        gap: 38px;
        padding: 14px 22px;
        width: max-content;
        bottom: 350px;
        left: 70%;
        border-radius: 24px;
    }

    .send {
        padding: 9px 12px;
    }
}