.main {
  margin: auto 0% auto 16%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 9px;
}

@media (min-width: 420px) {
  .main {
    margin: auto 5% auto 20%;
  }
}

@media (min-width: 1025px) {

  .main {
    width: 30%;
    margin: auto;
  }
}

@media (min-width: 1356px) {
  .main {
    width: 23%;
    margin: auto;
  }
}