.logo {
    font-size: 32px;
    color: var(--orange);
    margin-bottom: 14px;
    margin-top: 15px;
}

.description {
    width: 80%;
    margin-bottom: 9px;
}

@media (min-width: 1025px) {
    .description {
        margin-bottom: 0px;
    }
}